body {
  padding-bottom: 35px;
  background-color: #aab6fb;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Baloo Thambi 2", Arial, Helvetica, sans-serif;
  color: white;
}

.weather-app {
  max-width: 600px;
  margin: 60px auto;
  padding: auto;
}
.rounded {
  background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
  background-size: cover;
  border-radius: 1rem !important;
}
h1 {
  text-align: center;
  margin-top: 20px;
}

form {
  text-align: center;
  margin: 15px;
}
.form-control {
  text-align: center;
}
.col-6 ul {
  margin: none;
  padding: none;
}

ul {
  margin-right: 30px;
  padding: none;
}
li {
  list-style: none;
  margin: none;
  padding: none;
}
h3 {
  text-align: center;
  text-transform: capitalize;
}
a {
  text-decoration: none;
  color: white;
}
a:hover {
  cursor: pointer;
  text-decoration: underline;
}
.card-body {
  padding: 5px;
}

.col-6 button {
  border-radius: 50px;
  box-shadow: 5px 5px #cfcccc;
  margin-left: 10px;
}
.col-6 input {
  border-radius: 50px;
  box-shadow: 5px 5px #cfcccc;
  margin-left: 30px;
}
span.float-left {
  font-size: 15px;
}
#weatherIcon {
  display: block;
  text-align: center;
  max-width: 100%;
  height: auto;
  margin: 15px auto;
}
#bigDegree {
  font-size: 50px;
  line-height: 1;
}
.degreeSymbol {
  position: relative;
  font-size: 30px;
  top: -16px;
}
.units {
  position: relative;
  font-size: 16px;
  top: -24px;
}

div.weatherInfo {
  margin-left: 105px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.hourlyWeather {
  margin-top: 25px;
  margin-bottom: 25px;
}
#forecastCard {
  background-color: transparent;
  border-color: white;
}
h2 {
  text-align: center;
  margin-bottom: 0;
  font-size: 15px;
}

p.miniDegree {
  text-align: center;
  font-size: 15px;
  margin-bottom: 0;
}
.units .active {
  color: black;
  cursor: default;
}
.units .active:hover {
  text-decoration: none;
}
